@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

nav a.nav-link{
    letter-spacing: 0.6px;
    cursor: pointer;
}
.navbar-collapse{
    z-index: 2;
}
nav{
    z-index: 2;
}
nav ul li {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.navbar-nav > li > a{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 12px;
    margin-bottom: 10px;
    

  
}
.navbar-nav > li > a.active, .navbar-nav >li>a:focus{
    border-top:1px solid rgb(40, 243, 223);
}
.navbar-nav > li > a:hover{
    border-top:1px solid rgb(40, 243, 223);
    transition: 1s;
}